# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


words_alpha.txt
words_alpha_clean.txt
words8.txt
answers8.txt
raw_words_snippet.txt
google-10000-english-no-swears.txtwords_alpha.txt
words_alpha_clean.txt
words8.txt
answers8.txt
google-10000-english-no-swears.txt
raw_words_snippet.txt
